---
- name: Handle OS Services
  systemd:
    name: "{{ item.name | default(item) }}"
    state: "{{ item.state | default('started') }}"
    enabled: "{{ item.enable | default('false') }}"
  listen: "handle_services"
  loop: "{{  services_state  }}"