---
apt_packages:
  - name: vim
    state: present # absent, build-dep, latest, present (default), fixed
  - name: curl
    state: present
  - name: fail2ban
    state: present
  - htop
  - ufw
  - tree
  - wget 
  - git
  #- docker.io
  #- docker-compose


services_state:
  - name : fail2ban
    state: started # "reloaded" "restarted" "started" "stopped"
    enable: true # "false"

  - name : ufw
    state: started # "reloaded" "restarted" "started" "stopped"
    enable: true # "false"

