---
- name: Run roles
  hosts: all
  gather_facts: true
  become: true
  vars_files:
    - config.yml

  vars_prompt:
    - name: reboot_confirmation
      prompt: "Do you want to reboot machines after upgrade? (yes/no)"
      private: false
      default: no

  roles:
    - role: update-packages
    - role: install-packages

  tasks:
    - name: Reboot if allowed
      reboot:
        msg: "Rebooting machines by Ansible playbook"
        reboot_timeout: 3600
      when: reboot_confirmation | lower == 'yes'
