---
- name: Update packages index
  apt:
    update_cache: yes
    cache_valid_time: 3600
  tags: upgrade

- name: Upgrade packages
  apt:
    upgrade: yes
  tags: upgrade

- name: cleaning up apt packages
  apt:
    clean: yes # Removes all cached package files
    autoremove: yes # Removes unused packages that were automatically installed as dependencies.
