---
- name: installing apt packages
  ansible.builtin.apt:
    name: "{{ item.name | default(item) }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ apt-packages }}"
  when: ansible_os_family == "Debian"
