---
name: Ansible Testing 
on:
  push:
    branches:
      - main
      - x.00
    pull_request:
    workflow_dispatch:

jobs:
  #lint:
  #  name: Check lint
  #  runs-on: ubuntu-latest
  #  steps: 
  #    - name: checkout codebase
  #      uses: actions/checkout@v4
  #     
  #    - name: Install testing dependencies.
  #      run: pip3 install yamllint ansible ansible-lint

  #    - name: Run linters 
  #      run: |
  #        yamllint . -b relaxed
  #        ansible-lint
    
  testruns: 
    name: Run playbook test
    runs-on: ubuntu-latest
    steps:
      - name: checkout codebase
        uses: actions/checkout@v4
      
      - name: setup ansible
        run: pip3 install ansible

      - name: checkout playbook syntax
        run: ansible-playbook main.yml --connection=local -i localhost, --syntax-check

      - name: run playbook
        run: |
          ansible-playbook main.yml --connection=local -i localhost, -e reboot_confirmation=no
        env:
          ANSIBLE_FORCE_COLOR: '1'     

      - name: Idempotence check.
        run: |
          idempotence=$(mktemp)
          ansible-playbook main.yml --connection=local -i localhost, -e reboot_confirmation=no | tee -a ${idempotence}
          cat ${idempotence} | grep -q 'changed=1.*failed=0' && (echo 'Idempotence test: pass' && exit 0) || (echo 'Idempotence test: fail' && exit 1)
        env:
          ANSIBLE_FORCE_COLOR: '1'